<!DOCTYPE html>

<script src='/static/js/jquery-3.4.1.js'></script>

<script>

function eventChecker(i){
 var i = $('#event').val();
 console.log(i);
 if (i === '0'){
   $('#changeBackpack').text("");
   $('#select').html("");
 }
 if (i === '1'){
   $('#changeBackpack').text("What would you like to add?");
   $('#select').html("<form method='POST' action='/add'><input type='text' name='add' onsubmit='refresh()'></input><input type='submit' value='Submit'></form>");
   //");
   console.log("if statement works");
 }
 if (i === '2'){
   $('#changeBackpack').text("What would you like to remove?");
   $('#select').html("<select id='items' onchange='removal()'><option></option>{%for i in data%}<option value='{{i['id']}}'>{{i['data']}}</option>{%endfor%}</select>");

 }
}

function removal(){
  var x = $('#items').val();
  console.log(x)
  x = JSON.stringify({"0":x});
  $.ajax({
    type:'POST', //post request
    url:'/remove', //sending to route /statSubmit
    data:x, //sending string
    success:function(){
      console.log('post request worked') //debug
      refresh();
}})
}

function refresh(){
  location.reload(true);
  eventChecker()
}

</script>
This is the contents of your backpack:

<br>
<p id="backpackContents">
{%for i in data%}
{{i['data']}}
<br>
{%endfor%}

</p>
Would you like to add, or remove something from your backpack?

<select id='event' onchange='eventChecker()'>
  <option value = '0'></option>
  <option value = '1'>Add</option>
  <option value = '2'>Remove</option>
</select>



<p id="changeBackpack"></p>
<p id="select"></p>
